{{> top-nav}}
<h1>{{name}}</h1>
    <div class="container sec-busqueda">
        
    <div class="row">
        <div class="col-lg-8">
    {{> search-bar}}

        </div>
        <div class="col-lg-4">
        <h4>Personita</h4>
        </div>
        </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                {{> nav-menu}}
            </div>
      <div class="col-lg-10 main-container">
      
          <form action="/create" method="post" class="form-horizontal">
        <div class="mpanel pan-visible" id="tr">
              
        <h1 class="section-header">
            TALENT REVIEW
        </h1>
          
           <div class="form-group">
            <label class="control-label">Name: </label>
            <input type="text" name="name" id="name" value="{{name}}"><br>
          </div>

          <div class="form-group">
            <label class="control-label">Job position:</label>
            <input type="text" name="job_position" id="job_position" value="{{job_position}}"><br>
          </div>

          <div class="form-group">
            <label class="control-label">Área:</label>
            <input type="text" name="area" id="area" vaue="{{area}}"><br>
          </div>

            <div class="form-group">
            <label for="potential">potential:</label>
              <select class="form-control" id="potential" name="potential">
                <option value="high potencial" selected="">High potential</option>
                <option value="potential">Potential</option>
                <option value="consolidate" >Consolidated</option>
            </select>
            </div>

          <div class="form-group">
           <label for="career">Career:</label>
           <select class="form-control" id="career" name="career">
              <option selected="">Management</option>
              <option>Specialist</option>
              <option>Both</option>
            </select>
          </div>

          <div class="form-group">
            <label for="status" id="tipo_ubicacion">Status:</label>
            <select class="form-control" data-with="Do not apply" id="status" name="status">
              <option>Next To Retirement</option>
              <option>Recent Entry</option>
              <option>Attitude Problems</option>
              <option>Inability</option>
              <option>Recent Movement</option>
              <option selected="">Do NoT Apply</option>
            </select>
          </div>

         <div class="form-group">
              <input type="checkbox" name="key_contributor" id="key_contributor" value="1"> Key contributor:<br>
              <input type="checkbox" name="specialist_critical" id="specialist_critical" value="1" checked>Specialist Critical:<br>
          </div>

          <div class="form-group">
            <label for="probability_of_loss">Probability Of Loss:</label>
            <select class="form-control" data-with="probability_of_loss" id="probability_of_loss" name="probability_of_loss">
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>
            </select>
            </div>

        <div class="form-group">
        <label for="areas_to_develop">Áreas To Develop:</label>
        <textarea  name="areas_to_develop" id="areas_to_develop" rows="10" cols="50" value="{{areas_to_develop}}"></textarea>
        </div>

        <div class="form-group">
        <label for="strengths">Strengths:</label>
         <textarea  name="strengths" id="strengths" rows="10" cols="50" value="{{strengths}}"></textarea>
        </div>

        <div class="form-group">
        <label for="relevant_technical_knowledge">Impact Loss</label>
         <textarea  name="relevant_technical_knowledge" id="relevant_technical_knowledge" rows="10" cols="50" value="{{relevant_technical_knowledge}}"></textarea>
        
               <button type="submit">Save</button>
        </div>

        <div class="mpanel pan-invisible" id="ca">
              
        <h1 class="section-header">
            CAREER ASPIRATIONS
        </h1>
           <div class="form-group">
            <label class="control-label">Job position:</label>
            <input type="text" name="aspiration_job_position"><br>
          </div>
          
        </div>
        <div class="mpanel pan-invisible" id="com">
              
        <h1 class="section-header">
            COMPETENCIES
        </h1>
               
        </div>
       
       <div class="mpanel pan-invisible" id="suc">
              
        <h1 class="section-header">
            SUCESSORS
        </h1>
          
              
        </div>
              </form>  

          </div>
    </div>
        