{{> top-nav}}
    {{> search-bar}}

    <div class="container sec-busqueda">
        
    <div class="row">
        <div class="col-lg-8">
        </div>
        <div class="col-lg-4">
        <h4>Personita</h4>
        </div>
        </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                {{> nav-menu}}
            </div>
      <div class="col-lg-10 main-container">
      
          <form action="/create" method="post" class="form-horizontal">
        <div class="mpanel pan-visible" id="tr">
              
        <h1 class="section-header">
            TALENT REVIEW
        </h1>
          
           <div class="form-group">
            <label class="control-label">Name: </label>
            <input type="text" name="name" id="name" value="{{name}}">
          </div>

          <div class="form-group">
            <label class="control-label">Job position:</label>
            <input type="text" name="job_position" id="job_position" value="{{job_position}}">
            </div>
            
          <div class="form-group">
        
            <label class="control-label">Área:</label>
            <input type="text" name="area" id="area" vaue="{{area}}">
          </div>
          
            <div class="form-group">
            <label for="potential">potential:</label>
              <select class="form-control" id="potential" name="potential">
                <option value="high potencial" selected="">High potential</option>
                <option value="potential">Potential</option>
                <option value="consolidate" >Consolidated</option>
            </select>
            </div>

          <div class="form-group">
           <label for="career">Career:</label>
           <select class="form-control" id="career" name="career">
              <option selected="">Management</option>
              <option>Specialist</option>
              <option>Both</option>
            </select>
          </div>

          <div class="form-group">
            <label for="status" id="status">Status:</label>
            <select class="form-control" data-with="Do not apply" id="status" name="status">
              <option value="Next To Retirement">Next To Retirement</option>
              <option value="Recent Entry">Recent Entry</option>
              <option value="Attitude Problems">Attitude Problems</option>
              <option value="Inability">Inability</option>
              <option value="Recent Movement">Recent Movement</option>
              <option value="Do Not Apply" selected="">Do Not Apply</option>
            </select>
          </div>

         <div class="form-group">
              <input type="checkbox" class="check" name="key_contributor" id="key_contributor" value="1"> Key contributor:
              <input type="checkbox" class="check" name="specialist_critical" id="specialist_critical" value="1" checked>Specialist Critical:<br>
          </div>

          <div class="form-group">
            <label for="probability_of_loss">Probability Of Loss:</label>
            <select class="form-control" data-with="probability_of_loss" id="probability_of_loss" name="probability_of_loss">
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            </div>


          <div class="form-group">
            <label for="impact_loss">Impact Loss:</label>
            <select class="form-control" data-with="impact_loss" id="impact_loss" name="impact_loss">
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            </div>

        <div class="form-group">
        <label for="areas_to_develop">Áreas To Develop:</label>
        <textarea  name="areas_to_develop" id="areas_to_develop" rows="10" cols="50" value="{{areas_to_develop}}"></textarea>
        </div>

        <div class="form-group">
        <label for="strengths">Strengths:</label>
         <textarea  name="strengths" id="strengths" rows="10" cols="50" value="{{strengths}}"></textarea>
        </div>

        <div class="form-group">
        <label for="relevant_technical_knowledge">Impact Loss</label>
         <textarea  name="relevant_technical_knowledge" id="relevant_technical_knowledge" rows="10" cols="50" value="{{relevant_technical_knowledge}}"></textarea>
         
         <div id="btn_cancel">
               <button type="submit">Cancel</button>
         </div>

         <div id="btn_save">
           <button type="submit">Save</button>
         </div>

         </div>
              </div>
        <div class="mpanel pan-invisible" id="ca">
              
        <h1 class="section-header">
            CAREER ASPIRATIONS
        </h1>
          
         <div class="form-group">
              <label>Business Units</label>
              <div>
              Commercial: <input type="checkbox" class="check" name="commercial" id="commercial" value="1"> 
              Marketing: <input type="checkbox" class="check" name="marketing" id="marketing" value="1" checked>
              Finance:<input type="checkbox" class="check" name="finance" id="finance" value="1" checked>
              </div>
              <div>
              Administration:<input type="checkbox" class="check" name="administration" id="administration" value="1">
              Human resources:<input type="checkbox" class="check" name="human_resources" id="human_resources" value="1"> 
              </div>
              <div>
              Product: <input type="checkbox" class="check" name="product" id="product" value="1" checked>
              IT: <input type="checkbox" class="check" name="it" id="it" value="1" checked>
              </div>
          </div>

          <div class="form-group">
              <label>Areas Of Interest</label>
              <div>
              Commercial: <input type="checkbox" class="check" name="commercial" id="commercial" value="1"> 
              Marketing: <input type="checkbox" class="check" name="marketing" id="marketing" value="1" checked>
              Finance:<input type="checkbox" class="check" name="finance" id="finance" value="1" checked>
              </div>
              <div>
              Administration:<input type="checkbox" class="check" name="administration" id="administration" value="1">
              Human resources:<input type="checkbox" class="check" name="human_resources" id="human_resources" value="1"> 
              </div>
              <div>
              Product: <input type="checkbox" class="check" name="product" id="product" value="1" checked>
              IT: <input type="checkbox" class="check" name="it" id="it" value="1" checked>
              </div>
          </div>

          <div class="form-group">
              <label>Movility</label>

            <label for="movement_time_areas_interest" id="movement_time_areas_interest">Movement time for areas of interest:</label>
            <select class="form-control" data-with="Do not apply" id="status" name="status">
              <option value="Inmediate" selected >Inmediate</option>
              <option valu="Do not apply">Do not apply</option>
            </select>

            <label for="possibility_of_development" id="possibility_of_development">Possibility of development:</label>
            <select class="form-control" data-with="Do not apply" id="status" name="status">
             <option value="Inmediate" selected >Inmediate</option>
             <option valu="Do not apply">Do not apply</option>
            </select>
            <label for="movement_time_international_mobility" id="movement_time_international_mobility">Attitude Problems: </label>
            <select class="form-control" data-with="Do not apply" id="status" name="status">
              <option value="Inmediate" >Inmediate</option>
              <option valu="Do not apply" selected >Do not apply</option>
            </select>
            <label for="possibility_of_development" id="possibility_of_development">Time development movement possibility:</label>
            <select class="form-control" data-with="Do not apply" id="status" name="status">
             <option value="Inmediate">Inmediate</option>
             <option valu="Do not apply" selected >Do not apply</option>
            </select>
          </div>
            <div id="btn_cancel">
               <button type="submit">Cancel</button>
         </div>

         <div id="btn_save">
           <button type="submit">Save</button>
         </div>
          
        </div>
        <div class="mpanel pan-invisible" id="com">
              
        <h1 class="section-header">
            COMPETENCIES
        </h1>
               
        </div>
       
       <div class="mpanel pan-invisible" id="suc">
              
        <h1 class="section-header">
            SUCESSORS
        </h1>
          
              
        </div>
              </form>  

          </div>
            </div>
</div>
    
        